<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="BurnCam" 	content="v01" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BurnCam Medical</title>
    
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Include Tabs Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/nav.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/registrationbar.css" rel="stylesheet">
    <link href="css/services.css" rel="stylesheet">
    <link href="css/GUI.css" rel="stylesheet">
    <link href="css/tabs.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
  
    <!-- Include Socket.io scripts -->
	  <script src="/socket.io/socket.io.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- ======================================= -->
	  <!-- ========== BODY PAGE CONTENT ========== -->
    <!-- ======================================= -->
    
    <div id="homeContent">

      <!-- ======================================= -->
      <!-- ============ NAVIGATION BAR =========== -->
      <!-- ======================================= -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="topNav">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#HomeAnchor"><img id="navBrand" class="navBrand" src="images/Logo.png"></a>
          </div> <!-- end navbar-header-->
          <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#HomeAnchor">Home</a></li>
              <li><a href="#PatientsAnchor">Patient</a></li>
              <li><a href="#PhysiciansAnchor">Physician</a></li>
              <li><a href="#PhysiciansAnchor">Contact</a></li>
              <li><button class="navButton" id="loginButton" href="#Login">Login</button></li>
              <li><button class="navButton" id="registerButton" href="#Register">Register</button></li>

            </ul>
          </div><!-- end navbar-collapse -->
        </div><!-- end container-fluid -->
      </nav><!-- end nav-->

      <!-- ======================================= -->
      <!-- ================ Home ================= -->
      <!-- ======================================= -->

      <a class="anchor" id="homeAnchor"></a>
      <div id="home">
        <div id="homeTextBox">
          <div id="homeText">
            <p><h1>BurnCam Medical</h1></p>
            <p></p>
            <p><h3>- Augmented Telemedicine -</h3></p>
            <p><h3>Connecting Patients and Experts</h3></p>
          </div> <!-- end homeText -->
        </div> <!-- end homeTextBox -->
      </div> <!-- end home -->

      <!-- =============================================== -->
      <!-- ============= Registration Bar ================ -->
      <!-- =============================================== -->

      <div id="regBar">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 regCol">  
              <div class="regTitle"> - Patients - </div>
              <div class="regBox" id="patientRegBox">
                <div class="regButtonBox">
                  <p><button class="button logButton" href="#Login">Login</button></p>
                  <p><button class="button regButton" href="#Register">Register</button></p>
                </div> <!-- end regButtonBox-->
              </div> <!-- end patientRegBox -->
            </div> <!-- end col -->
    
            <div class="col-lg-6 regCol">     
              <div class="regTitle"> - Doctors - </div>
              <div class="regBox" id="docRegBox">
                <div class="regButtonBox">
                  <p><button class="button logButton" href="#Login">Login</button></p>
                  <p><button class="button regButton" href="#Register">Register</button></p>
                </div> <!-- end regButtonBox-->
              </div> <!-- end docRegBox -->
            </div><!-- end col -->

          </div> <!-- end row -->
        </div> <!-- end container -->
      </div> <!-- end regBar -->

      <!-- ======================================= -->
      <!-- ============= services ================ -->
      <!-- ======================================= -->

      <div id="services">
        <div class="container">
          <div class="row">

            <div class="col-lg-4 servicesCol">  
              <p><h1>Access Experts</h1></p>
              <hr>
              <p>Connect with specialists with video and chat using computer, table or mobile</p>
              <div class="servicesImgCircle">
                <img src = "images/mobileServices.png">
              </div>  
            </div> <!-- end col -->
    
            <div class="col-lg-4 servicesCol">  
                <p><h1>Patient Privacy</h1></p>
                <hr>
                <p>Ensure that your communication is encrypted and your personal data is private</p>
                <div class="servicesImgCircle">
                  <img src = "images/privacy.png">
                </div>
              </div> <!-- end col -->
              
              <div class="col-lg-4 servicesCol">  
                  <p><h1>Value for Care</h1></p>
                  <hr>
                  <p>Telemedicine reduces uncessesary travel and visits saveing time and money.</p>
                  <div class="servicesImgCircle">
                    <img src = "images/health.png">
                  </div>  
                </div> <!-- end col -->

          </div> <!-- end row -->
        </div> <!-- end container -->
      </div> <!-- end services -->

      <!-- ================================== -->
      <!-- ============= GUI ================ -->
      <!-- ================================== -->

      <div id="GUI">
        <div class="container">

          <div class="row" id="browserGUI">

              <div class="col-lg-5 GUICol"> 

                <header>
                  <h1>Browser Interface</h1>
                </header>

                <nav id="tabsNav">
                    <ul>
                      <li class="gnav1">Login</li>
                      <li class="gnav2">Connect</li>
                      <li class="gnav3">Share</li>
                      <li class="gnav4">Annotate</li>
                    </ul>
                </nav>
                
                <div class="contents" id="tabsContents">
                  <div class="container">
                  <article id="page1" class="show top">
                    <section>
                      <h1>Tab1 Title</h1>
                      <p>This is tab one.</p>
                    </section>
                  </article>
                  <article id="page2">
                    <section>
                      <h1>Tab2 Title</h1>
                      <p>This is tab two.</p>
                    </section>
                  </article>
                  <article id="page3">
                    <section>
                      <h1>Tab3 Title</h1>
                      <p>This is tab three.</p>
                    </section>
                  </article>
                  <article id="page4">
                    <section>
                      <h1>Tab4 Title</h1>
                      <p>This is tab four.</p>
                    </section>
                  </article>
                  <article id="page5">
                    <section>
                      <h1>Tab5 Title</h1>
                      <p>This is tab five</p>
                    </section>
                  </article>
                  </div>
                </div>




              </div> <!-- end col -->
      
              <div class="col-lg-7 GUICol">
                <img src="images/laptopArt.png">   
              </div><!-- end col -->
          </div> <!-- end browserGUI row -->

        </div> <!-- end container -->
      </div> <!-- end GUI-->

      <!-- ===================================== -->
      <!-- ============= Footer ================ -->
      <!-- ===================================== -->

      <!-- Footer -->
      <footer class="page-footer font-small mt-4" id="footer">
        <div class="container">
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
  
            <div class="col-md-2 mb-3">
            </div>
  
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#HomeAnchor">Home</a>
              </h6>
            </div>
  
  
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#ServicesAnchor">Services</a>
              </h6>
            </div>
  
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#ClinicalAnchor">Clinical</a>
              </h6>
            </div>
  
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#ContactAnchor">Contact</a>
              </h6>
            </div>
  
            <div class="col-md-2 mb-3">
            </div>
  
  
          </div>
          <!-- Grid row-->
          <hr class="clearfix d-md-none rgba-white-light" style="margin: 2% 5%;">
        <!-- Footer Links -->
  
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="http://www.burncammedical.com/"> http://www.burncammedical.com/</a>
        </div>
        </div>
        <!-- Copyright -->
      </footer>

    <!-- Include navbar shrink on scroll -->
    <script src="js/nav.js"></script>

    <!-- Include GUI Button Switching -->
    <script src="js/GUIDemo.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
    <!-- Include Tabs JavaScript (needs jquery, so connect after) -->
    <script src="js/tabs.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
    <!-- WebRTC javascript files -->
    <script src="js/webrtc.js"></script>
    <script src="js/app.js"></script>
    
  </body>
</html>